html, body {
    margin 0;
    padding 0;
    
}
a{
    text-decoration: none;}
    p{margin:0;}
    .container {position: relative;
    width: 1320px;
height: auto;
display: flex;
}
.home_page{
    padding-bottom: 60px;
    display: flex;
flex-direction: column;}
.container .category_top {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container .category_top span {
    font-family: "Jost";
    font-style:normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color:#041e42;
    text-transform: capitalize;
}
.container .category_top a {
     font-family: "Jost";
    font-style:normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
        color:#041e42;
    text-transform: capitalize;


}
.container .category_top a:hover {
    border-bottom: 2px solid #041e42;
}
/* PAGINATION */
.container .pagination_box{
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container .pagination_box .pagination_main{
width: auto;
height: 24px;
display: flex;
flex-direction: row;


}
.container .pagination_main img{
    cursor: pointer;
}
.container .pagination_main .pagination_dot{
    margin: 0 20px;
    display: flex;
    flex-direction: row;
}

.container .pagination_dot .dot{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    border-radius: 50%;
}
.container .pagination_dot .dot.active{
    border:2px solid #112137;
}
.container .pagination_dot .dot div{
    width: 4px;
    height: 4px;
    background: #112137;
    border-radius: 50%;
}