/* css 20-dars */
/* span {color:green} */
/* CSS 21-dars  */
/* SELECTORLAR */
/*  *ALL,TAGNAME,CLASS,ID */
/* 
div {color:blueviolet}
bald {color:brown} */
/* class=>classname */
/* .tittle {color:cadetblue;} */
/* id=># */
/* #main {color:coral}
.container .tittle {color:crimson;} */
/* 22-DARS Elementlarga o'lcham beramiz */
/* .desc {width: 50%; */
/* height: 200px;;
background-color:royalblue;} */
/* orqa fon Background bilan ishlaymiz  23-Dars*/
/* div {width: 400px;height: 400px;
     background-image: url("./public/rasmlar/seulimage.jpg");
   background-size:contain } */
   /* border va outline 24-dars */
   /* div {width: 200px; height: 200px;
background-color: red;
outline:1px solid blue } */
/* border:2px solid black;
border-radius: 10px;} */
/* Margin va Padding 25-dars  */
/* Margin elementlarni tashqi tarafidan joy tashab beradi.
Padding esa ichidan tashlab beradi */
/* Textlar bilan ishlash
text-align:center(textni markazga joylashtiradi.
text-decoration:none;underline(past-chiziq);overline(ust-chiziq);line-through(del-chiziq);
text-transform:uppercase(katta-harf);lowercase(kichik-harf);capitalize(bosh-harflar-katta)
letter-spacing:10px(oraliqlarni belgilab beradi);
line-height:10px (qatorlar oralig'ini belgilab beradi)
text-shadow:2px 2px 2px gray(textlarga soya qo'yib beradi) */
/* CSS fontlar bilan ishlash 27-dars */
/* font-size (textni razmerini kattalashtirish uchun:bydefault 16px bo'ladi )
font-weight bold,bolder( textni qalinlashtirib beradi700-900gacha)
font-style:italic:oblique,normal
font-family:sans-serif, */
/* CSS statelarini o'rganamiz 28-dars */
/*  */
/* a {color:green;}
a:hover {color:cadetblue}
a:active {color:violet}
input {background-color: red;}
input:focus {background-color: teal;
outline:none;
border:none;} */
/* 29-dars table va list */
.members_table {width:100%; border-collapse:collapse;}
.members_table th,.members_table td {border:1px solid #ddd;}
.members_table th {text-align:left; background-color:#04aa6d; color:white;}
.members_table th:hover {color:darkgray;}
.members_table tr:nth-child(odd) {background-color:#f2f2f2;}
.members_table td:hover {background-color:brown;
cursor:pointer;}
